<dialog class="custmodal" id="modal" #dialog>
  <h4 class="text-center">Delete Participant</h4>
  <hr class="bg-secondary">
  <p> Do you want to delete the participant?</p>
  <div class="justify-content-lg-end">
    <button type="submit" class="btn btn-primary flex-grow-1 flex-md-grow-0 mx-3 my-1 px-md-5" (click)="onConfirm()">
      Confirm
    </button>
    <button class="btn btn-danger flex-grow-1 flex-md-grow-0 mx-3 my-1 px-md-5" (click)="onCancel()"> Cancel
    </button>
  </div>
</dialog>
