<dialog class="custmodal" id="modal" #dialog>
  <h4 class="text-center">Add Event</h4>
  <hr class="bg-secondary">
  <form [formGroup]="addEventForm" (ngSubmit)="onConfirm()" autocomplete="off"
    class="d-flex flex-column flex-md-row flex-md-wrap justify-content-center justify-content-sm-space">

    <div class="mb-3 col-12 col-6-md">
      <label for="title" class="form-label">Title</label>
      <input type="text" formControlName='title' class="form-control" id="title" placeholder="Course 47km">
      @if ( isNotValidField('title') ) {
        <div class="text-center text-sm-start">
          <small class="text-danger mt-1">
            title is required
          </small>

        </div>
      }
    </div>

    <div class="mb-3 col-12 col-6-md">
      <label for="start_date" class="form-label">Start</label>
      <input type="datetime-local" formControlName='start_date' class="form-control" id="start_date">
    </div>

    <div class="mb-3 col-12 col-6-md">
      <label for="end_date" class="form-label">End</label>
      <input type="datetime-local" formControlName='end_date' class="form-control" id="end_date">
      @if ( addEventForm.touched && addEventForm.hasError('notGreater') ) {
      <div>
        <p class="text-danger text-center mt-3">
          <small>End date must be after start date</small>
        </p>
      </div>
      }
    </div>

    <div class="justify-content-lg-end">
      <button type="submit" class="btn btn-primary flex-grow-1 flex-md-grow-0 mx-3 my-1 px-md-5">
        Confirm
      </button>
      <button type="button" class="btn btn-danger flex-grow-1 flex-md-grow-0 mx-3 my-1 px-md-5" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</dialog>
