<nav class="navbar navbar-expand-lg navbar-light bg-transparent border border-2">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand fs-4" href="#">Curses</a>
    <!-- Toggler -->
    <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Side Bar -->
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <!-- Side Bar Header-->
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Curses</h5>
        <button type="button" class="btn-close btn-close-dark shadow-none" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <!-- Side Bar Body-->
      <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active mx-2" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/participants" routerLinkActive="active">
              Participants
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/races" routerLinkActive="active">
              Races
            </a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/charts" routerLinkActive="active">Charts</a>
          </li>
        </ul>
        <!-- Login/ signup-->
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
          <a href="#login" class="text-dark text-decoration-none px-3 py-1 rounded-4" id="login">Login</a>
          <a href="#sigun-up" class="text-white text-decoration-none px-3 py-1 rounded-4" id="sign-up">SignUp</a>
        </div>
      </div>
    </div>
  </div>
</nav>
